In [25]:
import pandas as pd

In [29]:
n = int(input("Enter an non-negative integer number: "))

Enter an non-negative integer number: -2

In [30]:
if n >= 0:

  even = []
  odd = []
  fibo = [0,1]

  for i in range(n):
    even.append(2*i)
    odd.append(2*i+1)
    if i > 1:fibo.append(fibo[i-2]+fibo[i-1])
   
   
    

    
    
  
else:
   print("Please enter an non-negative integer number")

Please enter an non-negative integer number

In [28]:
results = pd.DataFrame(data = {'Even': even, 'Odd': odd, 'Fibonacci': fibo}) 
results

   Even  Odd  Fibonacci
0     0    1          0
1     2    3          1
2     4    5          1
3     6    7          2